PT_DB_HOST=localhost
PT_DB_PORT=1433
PT_DB_NAME=project_tracker
PT_DB_USER=sa
PT_DB_PASSWORD=YourStr0ngP@ssword!
PT_SECRET_KEY=change-me-in-production
PT_REDIS_URL=redis://localhost:6379/0
PT_CORS_ORIGINS=["http://localhost:5173"]
